.Item {
	width: 15vw;
	height: 18vw;
	border: 0.3vw solid gray;
	margin: 3vw;
}

.Item:hover {
	cursor: pointer;
}

.Item_img {
	width: 10vw;
}

.Item_name {
	text-transform: capitalize;
	font-weight: 600;
	font-size: 2vw;
	margin: 0;
	margin-bottom: -3vw;
}

.Type_wrapper{
	display: flex;
	flex-direction: row;
	margin: 0.5vw;
	padding: 0.5vw;
}

